@font-face {
  font-family: "Betatron";
  src: url("/public/font/BETATRON-REGULAR.OTF") format("truetype");
}
.rectangle-div3 {
  position: relative;
  background: linear-gradient(to right, #2e335a, #1c1b33);
  width: 100%;
  height: 120vh;
}
.have-a {
  color: #fff;
}
.have-a-cryptic-project-with-yo {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.well-make-it-bright {
  margin: 0;
}
.have-a-cryptic-container {
  position: relative;
  font-size: 65px;
  letter-spacing: 0.02em;
  font-family: betatron;
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 1px #fff;
  color: #fff;
  margin-bottom: 2rem;
}
.have-a {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  padding-bottom: 1.5rem;
}
.feel-free-to {
  position: relative;
  font-size: 25px;
  letter-spacing: 0.02em;
  font-family: Orbitron;
  color: #fff;
  text-align: center;
  margin-bottom: 18%;
}
.location_box {
  position: relative;
  width: 16%;
  right: 28%;
  bottom: 18rem;
}
.location {
  position: relative;
  bottom: 7rem;
  left: 2.8rem;
  font-size: 20px;
  letter-spacing: 0.03em;
  font-family: Orbitron;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.detail {
  position: relative;
  bottom: 7rem;
  left: 2.8rem;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.03em;
  font-family: Orbitron;
  text-align: center;
}
.location_box1 {
  position: relative;
  width: 16%;
  right: 8%;
  bottom: 18rem;
}
.contactus {
  position: relative;
  bottom: 7rem;
  left: 3.5rem;
  font-size: 20px;
  letter-spacing: 0.03em;
  font-family: Orbitron;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.detail-contact {
  position: relative;
  bottom: 6rem;
  left: 3.5rem;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.03em;
  font-family: Orbitron;
  text-align: center;
}
.website {
  color: #fff;
  font-family: "orbitron";
  margin-top: -2.5%;
  margin-left: 21%;
  font-size: 1.2rem;
}
.logo_image {
  width: 40%;
  margin-left: 10rem;
  margin-top: -8rem;
}
.dotnav {
  width: 18%;
  top: -52rem;
  left: -2rem;
}
.dotnav1 {
  width: 26%;
  top: -5rem;
  left: 65rem;
}

/*Responsive*/
@media screen and (max-width: 504px) {
  .have-a-cryptic-container {
    font-size: 40px;
  }
  .feel-free-to {
    font-size: 15px;
  }

  .location_box {
    top: 37%;
    width: 35%;
    right: 5.7%;
  }
  .location {
    font-size: 1rem;
    bottom: 5rem;
    left: 2.2rem;
    padding-bottom: 15%;
  }
  .detail {
    font-size: 0.5rem;
    bottom: 6rem;
    left: 2.3rem;
  }
  .contact-us_box {
    width: 42%;
    margin-top: -15%;
    margin-left: 25%;
  }
  .contact-us {
    font-size: 1rem;
    bottom: 5rem;
    left: 2rem;
    padding-bottom: 6%;
  }
  .detail_contact {
    font-size: 0.6rem;
    bottom: 5rem;
    left: 1.8rem;
  }
  .celozisall-rights-reserved {
    font-size: 1rem;
  }
  .nav-link,
  .nav-link1,
  .nav-link2,
  .nav-link3 {
    right: 50%;
  }
  .nav-img {
    margin-left: 25%;
  }
  .dots1 {
    width: 50%;
    left: 52%;
  }
}
@media screen and (min-width: 505px) and (max-width: 700px) {
  .have-a-cryptic-container {
    font-size: 40px;
  }
  .feel-free-to {
    font-size: 15px;
  }
  .logo_image img {
    width: 40%;
    height: auto;
    margin-top: -5rem;
  }
  .logo {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: -3rem;
  }
  .location_box {
    top: 37%;
    width: 35%;
    right: 5.7%;
  }
  .location {
    font-size: 1.2rem;
    bottom: 6rem;
    left: 2.2rem;
    padding-bottom: 15%;
  }
  .detail {
    font-size: 0.5rem;
    bottom: 6rem;
    left: 2.3rem;
  }
  .contact-us_box {
    width: 36%;
    margin-top: -15%;
    margin-left: 33%;
  }
  .contact-us {
    font-size: 1.2rem;
    bottom: 6rem;
    left: 3.5rem;
    padding-bottom: 6%;
  }
  .detail_contact {
    font-size: 0.8rem;
    bottom: 6rem;
    left: 3.2rem;
  }
  .celozisall-rights-reserved {
    font-size: 1.2rem;
    padding-bottom: 5%;
    left: 21%;
  }
  .nav-link,
  .nav-link1,
  .nav-link2 {
    right: 100%;
  }
  .nav-link3 {
    right: 150%;
  }
  .nav-img {
    margin-left: 24%;
  }
  .dots1 {
    width: 50%;
    left: 50%;
  }
}
