@font-face {
  font-family: "Betatron";
  src: url("/public/font/BETATRON-REGULAR.OTF") format("truetype");
}
.rectangle_logo {
  position: relative;
  background: linear-gradient(to right, #2e335a, #1c1b33);
  width: 100%;
}
.its-all-about {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.making-things-happen {
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.its-all-about-container {
  position: relative;
  font-size: 65px;
  letter-spacing: 0.02em;
  font-family: betatron;
  text-align: center;
  -webkit-text-stroke: 1px #fff;
  color: #fff;
  margin-bottom: 15%;
  padding-top: 5%;
}
.a-visionary-independent {
  margin-block-start: 0;
  margin-block-end: 8px;
  white-space: pre-wrap;
}
.future {
  margin: 0;
}
.a-visionary-independent-container {
  color: #fff;
  font-size: 25px;
  letter-spacing: 0.02rem;
  font-family: orbitron;
  text-align: center;
  line-height: 150%;
  margin-top: 150px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: -5%;
}

.logo-img {
  width: 100%;
  height: auto;
}
/*Responsive*/ /*Desktop*/
@media screen and (min-width: 990px) and (max-width: 1200px) {
  .a-visionary-independent-container {
    font-size: 20px;
    line-height: 150%;
  }
}
@media screen and (min-width: 800px) and (max-width: 990px) {
  .a-visionary-independent-container {
    font-size: 18px;
    line-height: 150%;
    width: 100%;
    margin-top: 20%;
  }
  .its-all-about-container {
    font-size: 55px;
  }
  .logo-container {
    width: 70%;
    margin-left: 15%;
    margin-top: 17%;
  }
}
@media screen and (min-width: 750px) and (max-width: 800px) {
  .a-visionary-independent-container {
    font-size: 16px;
    line-height: 150%;
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
  }
  .its-all-about-container {
    font-size: 45px;
  }
  .logo-container {
    width: 70%;
    margin-left: 15%;
  }
}
@media screen and (min-width: 600px) and (max-width: 750px) {
  .a-visionary-independent-container {
    font-size: 14px;
    line-height: 150%;
    width: 100%;
    margin-top: 20%;
    margin-left: 0%;
  }
  .its-all-about-container {
    font-size: 45px;
  }
  .logo-container {
    width: 65%;
    margin-left: 15%;
  }
}
@media screen and (min-width: 520px) and (max-width: 600px) {
  .a-visionary-independent-container {
    font-size: 12px;
    line-height: 150%;
    width: 100%;
    margin-top: 20%;
    margin-left: 0%;
  }
  .its-all-about-container {
    font-size: 40px;
  }
  .logo-container {
    width: 65%;
    margin-left: 15%;
  }
}

@media screen and (min-width: 500px) and (max-width: 520px) {
  .a-visionary-independent-container {
    font-size: 10px;
    line-height: 150%;
    width: 100%;
    margin-top: 20%;
    margin-left: 0%;
  }
  .its-all-about-container {
    font-size: 40px;
    margin-top: 10%;
  }
  .logo-container {
    width: 65%;
    margin-left: 15%;
    margin-top: 25%;
  }
}
/*Phone portrait*/

@media screen and (max-width: 450px) {
  .a-visionary-independent-container {
    font-size: 10px;
    line-height: 150%;
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
  }
  .its-all-about-container {
    font-size: 30px;
    margin-top: 10%;
  }
  .logo-container {
    width: 65%;
    margin-left: 15%;
    margin-top: 25%;
  }
}
