@font-face {
  font-family: "Betatron";
  src: url("/public/font/BETATRON-REGULAR.OTF") format("truetype");
}
.rectangle-us {
  width: 100%;
  height: 110vh;
  background: linear-gradient(to right, #2e335a, #1c1b33);
}
.marquee-w {
  position: relative;
  display: block;
  width: 100%px;
  height: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.marquee {
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  font-family: "betatron";
  text-align: center;
  color: white;
  white-space: nowrap;
  min-width: 150%;
  height: 100%;
  letter-spacing: 1rem;
  line-height: 140px;
  font-size: 12rem;
  animation: marquee 10s linear infinite;
}
.marquee2 span {
  animation-delay: 5s;
}
.marquee3 span {
  animation-delay: 5s;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.bordercircle {
  width: 500px;
  height: 500px;
  border: 2px solid rgb(247, 247, 247);
  margin: -30px auto;
  border-radius: 50%;
  position: relative;
}
.circle {
  width: 450px;
  height: 450px;
  background: linear-gradient(to right, #2e335a, #1c1b33);
  margin: 25px auto;
  border-radius: 50%;
  position: relative;
}
.professional-and-technically-p-container {
  position: absolute;
  width: inherit;
  height: auto;
  top: 30%;
  transform: translateX(50%);
  text-align: center;
  font-size: 1.5rem;
  font-family: orbitron;
  color: white;
}
/*phone*/
@media screen and (min-width: 300px) and (max-width: 350px) and (orientation: portrait) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 100vh;
  }
  .marquee span {
    font-size: 7rem;
  }
  .bordercircle {
    width: 250px;
    height: 250px;
    border: 2px solid rgb(247, 247, 247);
    margin-top: -50px;
    border-radius: 50%;
    position: relative;
  }
  .circle {
    width: 220px;
    height: 220px;
    background: linear-gradient(to right, #2e335a, #1c1b33);
    margin-top: 13px;
    border-radius: 50%;
    position: relative;
  }
  .professional-and-technically-p-container {
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
    font-size: 0.8rem;
    font-family: orbitron;
    color: white;
  }
}
@media screen and (min-width: 351px) and (max-width: 374px) and (orientation: portrait) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 90vh;
  }
  .marquee span {
    font-size: 6.5rem;
  }
  .bordercircle {
    width: 250px;
    height: 250px;
    border: 2px solid rgb(247, 247, 247);
    margin-top: 50px;
    border-radius: 50%;
    position: relative;
  }
  .circle {
    width: 220px;
    height: 220px;
    background: linear-gradient(to right, #2e335a, #1c1b33);
    margin-top: 13px;
    border-radius: 50%;
    position: relative;
  }
  .professional-and-technically-p-container {
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
    font-size: 0.8rem;
    font-family: orbitron;
    color: white;
  }
}
@media screen and (min-width: 375px) and (max-width: 400px) and (orientation: portrait) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 90vh;
  }
  .marquee span {
    font-size: 6.5rem;
  }
  .bordercircle {
    width: 250px;
    height: 250px;
    border: 2px solid rgb(247, 247, 247);
    margin-top: 50px;
    border-radius: 50%;
    position: relative;
  }
  .circle {
    width: 220px;
    height: 220px;
    background: linear-gradient(to right, #2e335a, #1c1b33);
    margin-top: 13px;
    border-radius: 50%;
    position: relative;
  }
  .professional-and-technically-p-container {
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
    font-size: 0.8rem;
    font-family: orbitron;
    color: white;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) and (orientation: portrait) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 80vh;
  }
  .marquee span {
    font-size: 6.5rem;
  }
  .bordercircle {
    width: 260px;
    height: 260px;
    border: 2px solid rgb(247, 247, 247);
    margin-top: -50px;
    border-radius: 50%;
    position: relative;
  }
  .circle {
    width: 230px;
    height: 230px;
    background: linear-gradient(to right, #2e335a, #1c1b33);
    margin-top: 13px;
    border-radius: 50%;
    position: relative;
  }
  .professional-and-technically-p-container {
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
    font-size: 0.8rem;
    font-family: orbitron;
    color: white;
  }
}
/*phone landscape*/
@media screen and (min-width: 500px) and (max-width: 600px) and (orientation: landscape) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 100vh;
  }
  .marquee span {
    font-size: 6rem;
    margin-top: -25px;
  }
  .bordercircle {
    width: 270px;
    height: 270px;
    border: 2px solid rgb(247, 247, 247);
    margin-top: -120px;
    border-radius: 50%;
    position: relative;
  }
  .circle {
    width: 240px;
    height: 240px;
    background: linear-gradient(to right, #2e335a, #1c1b33);
    margin-top: 13px;
    border-radius: 50%;
    position: relative;
  }
  .professional-and-technically-p-container {
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
    font-size: 0.8rem;
    font-family: orbitron;
    color: white;
  }
}
@media screen and (min-width: 700px) and (max-width: 730px) and (orientation: landscape) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 100vh;
  }
  .marquee span {
    font-size: 6rem;
    margin-top: -25px;
  }
  .bordercircle {
    width: 270px;
    height: 270px;
    border: 2px solid rgb(247, 247, 247);
    margin-top: -100px;
    border-radius: 50%;
    position: relative;
  }
  .circle {
    width: 240px;
    height: 240px;
    background: linear-gradient(to right, #2e335a, #1c1b33);
    margin-top: 13px;
    border-radius: 50%;
    position: relative;
  }
  .professional-and-technically-p-container {
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
    font-size: 0.8rem;
    font-family: orbitron;
    color: white;
  }
}
@media only screen and (min-width: 731px) and (max-width: 811px) and (orientation: landscape) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 100vh;
  }
  .marquee span {
    font-size: 6rem;
    margin-top: -25px;
  }
  .bordercircle {
    width: 270px;
    height: 270px;
    border: 2px solid rgb(247, 247, 247);
    margin-top: -100px;
    border-radius: 50%;
    position: relative;
  }
  .circle {
    width: 240px;
    height: 240px;
    background: linear-gradient(to right, #2e335a, #1c1b33);
    margin-top: 13px;
    border-radius: 50%;
    position: relative;
  }
  .professional-and-technically-p-container {
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
    font-size: 0.8rem;
    font-family: orbitron;
    color: white;
  }
}
@media only screen and (min-width: 806px) and (max-width: 930px) and (orientation: landscape) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 100vh;
  }
  .marquee span {
    font-size: 6rem;
  }
  .bordercircle {
    width: 270px;
    height: 270px;
    border: 2px solid rgb(247, 247, 247);
    margin-top: -100px;
    border-radius: 50%;
    position: relative;
  }
  .circle {
    width: 240px;
    height: 240px;
    background: linear-gradient(to right, #2e335a, #1c1b33);
    margin-top: 13px;
    border-radius: 50%;
    position: relative;
  }
  .professional-and-technically-p-container {
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    transform: translateX(50%);
    text-align: center;
    font-size: 0.8rem;
    font-family: orbitron;
    color: white;
  }
}
/*tab*/
@media screen and (min-width: 768px) and (max-width: 799px) and (orientation: portrait) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 100vh;
  }
  .marquee span {
    font-size: 10rem;
  }
  .bordercircle {
    margin-top: 90px;
  }
}
@media screen and (min-width: 800px) and (max-width: 835px) and (orientation: portrait) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 100vh;
  }
  .marquee span {
    font-size: 10rem;
  }
  .bordercircle {
    margin-top: 20%;
  }
}
/*tab landscape*/
@media screen and (min-width: 1000px) and (max-width: 1024px) and (orientation: landscape) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 100vh;
  }
  .marquee span {
    font-size: 10rem;
  }
  .bordercircle {
    margin-top: -50px;
  }
}
@media screen and (min-width: 1030px) and (max-width: 1280px) and (orientation: landscape) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 100vh;
  }
  .marquee span {
    font-size: 10rem;
  }
  .bordercircle {
    margin-top: -40px;
  }
}
/**/
@media only screen and (min-width: 836px) and (max-width: 884px) and (orientation: portrait) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 90vh;
  }
  .marquee span {
    font-size: 10rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1104px) and (orientation: landscape) {
  .marquee-w {
    position: relative;
    display: block;
    width: 100%px;
    height: 140px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .rectangle-us {
    height: 80vh;
  }
  .marquee span {
    font-size: 10rem;
  }
  .bordercircle {
    margin-top: -310px;
  }
}
